<div class="modal hide fade standBy" id="standby">
    
    <div class="modal-header alert-block">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h4><span id="title"></span></h4>
    </div>
    <form name="standByForm" id="standByForm">
        <fieldset>
            <div class="modal-body" id="body"></div>
            <div class="modal-footer">
                <input type="button" class="btn btn-primary" id="saveStandBy" value="Sauvegarder">
                <button class="btn" data-dismiss="modal">Fermer</button>
            </div>
        </fieldset>
    </form>
</div>
