<div class="row-fluid noPrint" id="legend">
    <div class="span1">
        <button class="btn btn-small btn-info" id="legendBtn"><i class="icon-question-sign"></i> Légende</button>
    </div>
    <div class="span10 hide" id="legendContent">
        <div class="row-fluid">
            <div class="span3">
                <span class="badge customerPeriodProperties">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                Client
            </div>
            <div class="span4">
                <span class="badge presalesPeriodProperties">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                Avant Vente, mission consultant/référent
            </div>
            <div class="span3">
                <span class="badge specialPeriodProperties">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                Heures complémentaires
            </div>
        </div>
        <div class="row-fluid">
            <div class="span3">
	            <span class="badge unpaidPeriodProperties">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
	            TP/CSS
            </div>
	        <div class="span4">
	            <span class="badge internalWorkPeriodProperties">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
	            Travaux internes, Formation, Inter-contrat
            </div>
            <div class="span3">
                <span class="badge holidayPeriodProperties">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                Congés payés / RTT
            </div>
        </div>
    </div>
</div>
