<div id="divChangePassword" class="hide">
	<div class="row">
		<div class="span5">
			<form class="well form-horizontal" id="formChangePassword">
			   	<legend>Modifier le mot de passe</legend>
			    <div class="control-group">
			        <label class="control-label" for="oldPassword">Mot de passe actuel <i class="icon-mandatory"></i></label>
			        <div class="controls">
			            <input type="password" class="input-medium" id="oldPassword" name="oldPassword" required>
			        </div>
			    </div> 
			    <div class="control-group">
			        <label class="control-label" for="newPassword">Nouveau mot de passe <i class="icon-mandatory"></i></label>
			        <div class="controls">
			            <input type="password" class="input-medium" id="newPassword" name="newPassword" required>
			        </div>
			    </div> 
			    <div class="control-group">
			        <label class="control-label" for="newPasswordConfirm">Confirmez le nouveau mot de passe <i class="icon-mandatory"></i></label>
			        <div class="controls">
			            <input type="password" class="input-medium" id="newPasswordConfirm" name="newPasswordConfirm" required>
			        </div>
			    </div>
			    <div class="control-group">
			        <center>
			            <p class="label label-important hide " id="dataError"></p>
			        </center>
			    </div>
			    <div class="control-group"> 
				    <div class="controls">
				        <button type="submit" class="btn btn-primary" id="btnValidate" name="btnValidate">Valider</button>
				        <input type="reset" class="btn" id="btnReset" value="Annuler">
				    </div>	
			    </div>
			</form>
		</div>
	</div>
</div>