<div id="divPartTimeSetting" class="hide">
	<div class="row">
		<div class="span5">
			<form class="well form-horizontal medium-width" id="formPartTime">
			   	<legend>Temps Partiel</legend>
			   	<div class="control-group">
			        <label class="control-label" for="startPartTime">Date de début <i class="icon-mandatory"></i></label>
			        <div class="controls">
			            <input type="text" class="input-small datepicker" id="startPartTime" name="startPartTime" required>
			        </div>
			    </div>
				<div class="control-group">
					<label class="control-label">Le <i class="icon-mandatory"></i></label>
					<div class="controls">
						<label class="checkbox inline">
							<input type="checkbox" class="day" id="1" name="daysOfWeek" value="1"> L
						</label>
						<label class="checkbox inline">
							<input type="checkbox" class="day" id="2" name="daysOfWeek" value="2"> M
						</label>
						<label class="checkbox inline">
							<input type="checkbox" class="day" id="3" name="daysOfWeek" value="3"> M
						</label>
						<label class="checkbox inline">
							<input type="checkbox" class="day" id="4" name="daysOfWeek" value="4"> J
						</label>
						<label class="checkbox inline">
							<input type="checkbox" class="day" id="5" name="daysOfWeek" value="5"> V
						</label>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="repeatEveryXWeeks">Toutes les <i class="icon-mandatory"></i></label>
					<div class="controls">
						<select class="input-mini" id="repeatEveryXWeeks" name="repeatEveryXWeeks">
						@for(i <- 1 until 6) {
							<option value="@i">@i</option>
						}
						</select>
						<label class="selectRightLabel" id="repeatAllLabel">semaine(s)</label>
					</div>
				</div>
				<div class="control-group">
					<div class="controls">
						<label class="checkbox inline">
							<input type="checkbox" id="morning" name="morning" value="true" checked>Le matin et/ou
						</label>
						<label class="checkbox inline">
							<input type="checkbox" id="afternoon" name="afternoon" value="true" checked> l'après-midi
						</label>
					</div>
				</div>
			   	<div class="control-group">
			        <label class="control-label" for="endPartTime">Date de fin</label>
			        <div class="controls">
			            <input type="text" class="input-small datepicker" id="endPartTime" name="endPartTime">
			        </div>
			    </div>
			    <div class="control-group">
			        <center>
			            <p class="label label-important hide " id="dataError"></p>
			        </center>
			    </div>
			    <div class="control-group">
				    <div class="controls">
				        <button type="submit" class="btn btn-primary" id="btnValidate" name="btnValidate">Valider</button>
				        <input type="reset" class="btn" id="btnReset" value="Annuler">
				    </div>
			    </div>
			</form>
		</div>
		<div class="span4">
        	<div class="alert alert-info hide" id="currentPartTime">
        		<span id="content"></span>
        		<hr>
        		<button type="submit" class="btn btn-primary" id="btnDisablePartTime" name="btnDisablePartTime">
        			Désactiver le temps partiel
        		</button>
	        </div>
        </div>
	</div>
	<div class="row">
		<div class="span9">
            <table class="table table-striped table-bordered table-condensed" id="tablePartTime" >
                <thead>
                    <tr>
                        <th>Du</th>
                        <th>Au</th>
                        <th>Le</th>
                        <th>Toutes les</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
	</div>
</div>