@(employees: java.util.List[models.Employee], connectedUser: models.User=null, feesTypes: java.util.List[constants.FeeType],
years: java.util.List[java.lang.Integer], months: java.util.List[models.Month], selectedYear: java.lang.Integer, 
selectedMonth: java.lang.Integer, affetedMissions: java.util.List[models.AffectedMission]=null)

@import constants._
@import tags.htmlElement._
@import tags.cras._
@import tags.functions._
@import be.objectify.deadbolt.views.html._
@import be.objectify.deadbolt.utils.TemplateUtils._
@import security._

@scripts={
    <script type="text/javascript">
        'use strict';
        $(function() {
            @* Affichage du formulaire *@
            $(window).trigger('ShowCreate:renderFees', $('#formFees'));

            $('#content').on('submit', '#searchForm', function(event){
                event.preventDefault();
                $(window).trigger('ShowCreate:loadFeesHistory', $(this).serializeObject());
            });        
            @restrict(la(as(RoleName.COLLABORATOR))) {
                @* Affichage automatique de l'historique des Frais *@
                $(window).trigger('ShowCreate:loadFeesHistory', $('#searchForm').serializeObject());
            }

            @restrict(la(as(RoleName.GESTION), as(RoleName.ADMINISTRATOR))) {
                var $trigramme = $('#formFees').find('#trigramme'),
                    $mission = $('#missionId');
                $trigramme.on('change', function(event){
                    // Reset des select
                    $mission.empty().append(App.createSelectPlaceholder({label:"<Mission>"}));
                    var trigramme = $trigramme.val();

                    if(trigramme === ""){
                        $mission.prop('disabled', true);
                    } else {
                        jsRoutes.controllers.Employees.fetchFeesMission(trigramme)
                        .ajax({
                            context: this
                        })
                        .done(function(affectedMission, textStatus, jqXHR) {
                            for(var i=0, length=affectedMission.length ; i < length ; i++){
                                $mission.append($(document.createElement('option'))
                                    .val(affectedMission[i].mission.id)
                                    .text(_.capitalize(affectedMission[i].mission.customerMissionName)));
                            }
                            $mission.prop('disabled', false);
                        });
                    }
                });

            }
        });
    </script>
    
}

@main(connectedUser, scripts, Menus.FEES){
    <div class="row">
        <div class="span5">
            <form class="well form-horizontal medium-width" id="formFees">
                @restrict(la(as(RoleName.GESTION), as(RoleName.ADMINISTRATOR))) {
                    <div class="control-group">
                        <label class="control-label" for="trigramme">Employee <i class="icon-mandatory"></i></label>
                        <div class="controls">
                            <select class="input-xlarge" id="trigramme" name="trigramme" size="1" required="required">
                                @selectPlaceholder("Employé")
                                @for(employee <- employees) {
                                <option value="@employee.trigramme">@formatUserName(employee)</option>
                                }
                            </select>
                        </div>
                    </div>
                }
                @restrict(la(as(RoleName.COLLABORATOR))) {
                    <input type="hidden" id="trigramme" name="trigramme" value="@connectedUser.trigramme"/>
                }
                <div class="control-group">
                    <label class="control-label" for="missionId">Mission <i class="icon-mandatory"></i></label>
                    <div class="controls">
                        <select class="input-medium" id="missionId" name="missionId" required @restrict(la(as(RoleName.GESTION), as(RoleName.ADMINISTRATOR))) {disabled="disabled"}>
                            @selectPlaceholder("Mission")
                            @restrict(la(as(RoleName.COLLABORATOR))) {
                                @for(affetedMission <- affetedMissions) {
                                    <option value="@affetedMission.mission.id">@affetedMission.mission.customerMissionName.capitalize</option>
                                }
                            }
                        </select>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="date">Le <i class="icon-mandatory"></i></label>
                    <div class="controls">
                        <input type="text" class="input-small datepicker" id="date" name="date" required>
                    </div>
                </div>
                <hr>
                <div class="control-group">
                    <label class="control-label" for="type">Type <i class="icon-mandatory"></i></label>
                    <div class="controls">
                        <select class="input-medium" id="type" name="type" required>
                            @selectPlaceholder("Type")
                            @for(feesType <- feesTypes) {
                                <option value="@feesType.name">@feesType.label.capitalize</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="amount">Montant </label>
                    <div class="controls">
                        <div class="input-append">
                            @* http://regexlib.com/RETester.aspx?regexp_id=1036 *@
                            <input type="text" class="input-mini" name="amount" id="amount" pattern="\d{1,4}([,.]\d{0,2})?" placeholder="1.50" ><span class="add-on">€</span>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="control-group">
                    <label class="control-label" for="kilometers">Nombre de Km </i></label>
                    <div class="controls">
                        <div class="input-append">
                            @* http://regexlib.com/RETester.aspx?regexp_id=1036 *@
                            <input type="text" class="input-mini" name="kilometers" id="kilometers" pattern="\d{1,4}([,.]\d{0,2})?" placeholder="25" ><span class="add-on"><i class="icon-road"></i></span>
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="journey">Trajet</label>
                    <div class="controls">
                        <textarea id="journey" name="journey" rows="3"></textarea>
                    </div>
                </div>
                <hr>
                <div class="control-group">
                    <label class="control-label" for="description">Description <i class="icon-mandatory"></i></label>
                    <div class="controls">
                        <textarea id="description" name="description" rows="3" required="required"></textarea>
                    </div>
                </div> 
                <div class="control-group">
                    <div class="controls">
                        <button type="submit" class="btn btn-primary" id="btnValidate" name="btnValidate">Valider</button>
                        <input type="reset" class="btn" id="btnReset" value="Effacer">
                    </div>
                </div>
            </form>
        </div>
        <div class="span7">
            <form class="well form-inline noPrint" id="searchForm">
                <fieldset>
                    @restrict(la(as(RoleName.GESTION), as(RoleName.ADMINISTRATOR))) {
                        @selectEmployee(employees)
                    }
                    @restrict(la(as(RoleName.COLLABORATOR))) {
                        <input type="hidden" id="trigramme" name="trigramme" value="@connectedUser.trigramme"/>
                    }
                </fieldset>
                <fieldset>
                    <label for="year">&nbsp;Année <i class="icon-mandatory"></i>
                        <select class="input-small" id="year" name="year" size="1" required="required">
                            @selectPlaceholder("Année")
                            @for(year <- years) {
                                <option value="@year" @if(selectedYear == year){selected="selected"}>@year</option>
                            }
                        </select>
                    </label>
                    <label for="month">&nbsp;Mois <i class="icon-mandatory"></i>
                        <select class="input-medium" id="month" name="month" size="1" required="required">
                            @selectPlaceholder("Mois")
                            @for(month <- months) {
                                <option value="@month.value" @if(selectedMonth == month.value){selected="selected"}>@month.label</option>
                            }
                        </select>
                    </label>
                    <input type="submit" class="btn btn-primary pull-right" id="btnSearch" name="btnSearch" value="Rechercher">
                </fieldset>
            </form>
            <table class="table table-striped table-bordered table-condensed" id="tableFees" >
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Type</th>
                        <th>Mission</th>
                        <th>Kilomètres</th>
                        <th>Montant</th>                        
                        <th>Description</th>
                        <th>Total</th>
                        <th><i class="icon-trash"></i></th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
}
