<div class="row">
<div class="span11">
	<h4>Change log</h4>
	<ul>
		<li><h5>1.2.2 (23/01/2013)</h5></li>
		<ul>
			<li>Impression : Correction du texte si le CRA n'est pas validé #18</li>
			<li>Mon compte - Véhicule :</li>
			<ul>
				<li>Les champs sont maintenant obligatoires</li>
				<li>Ajout d'un <a href="http://www.alsacreations.com/tuto/lire/1370-formulaire-html5-placeholder-required-pattern.html" target="_blank">placeholder</a> pour la marque du véhicule #28</li>
			</ul>
		</ul>
	</ul>
	<ul>
		<li><h5>1.2.1 (22/01/2013)</h5></li>
		<ul>
			<li>Frais de déplacement : correction de l'erreur durant la suppression</li>
			<li>Backoffice : Correction de l'affichage de la liste des clients</li>
			<li>Général : Petite optimisation de l'affichage des pages Cra, Absences et Frais de déplacement</li>
			<li>Liste des missions : Suppression du doublon IC (Inter-contrat)</li>
		</ul>
		<li><h5>1.2 (21/01/2013)</h5></li>
		<ul>
			<li><strong>Important</strong> : petit souci lors de la MEP, les données saisient ont été effacées :(</li>
			<li>Congés : Correction du bug lorsque l'on saisie 2 demijournées de la même journée</li>
			<li>IHM : Epuration de la barre de menu ( <i class="icon-user"></i> = Mon compte, <i class="icon-signout"></i> = Se déconnecter)</li>
			<li>Mon compte : Rétablissement de la saisie du responsable (2ème édition ;))</li>
			<li>Global : Amélioration de la navigation sur smartphone, testé uniquement sur Android(Chrome et Firefox)</li>
			<li>
				Global : Amélioration des performances (utilisation de <a href="https://developers.google.com/speed/libraries/devguide" target="_blank">Google cdn</a>
				et <a href="http://cdnjs.com/" target="_blank">cdnjs.com</a> ).
			</li>
			<li>Backoffice (uniquement pour les administrateurs) : Mise en place de la création Employee, Customer et Mission</li>
		</ul>
	</ul>
	<h4>Roadmap non ordonnée !</h4>
	<ul>
		<li>Amélioration de l'initialisation des Temps Partiels</li>
		<li>Amélioration de l'export CRA collaborateur</li>
		<li>Problème desuppression des Frais de déplacement</li>
		<li>Ajout du type de congé "abondement"</li>
		<li>Bug sur le changement de mot de passe</li>
		<li>
			Ajout de la fonctionnalité de création des missions pour les collaborateurs (les <a href="mailto:support.application@@genesis-groupe.com?subject=[CRA]">administrateurs</a> peuvent le faire maintenant)
		</li>
		<li>Amélioration des performances et de la fluidité de navigation</li>
		<li>...</li>
	</ul>
</div>
</div>